html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.container, .container-lite, .container-full {
  width: 100%;
  margin: auto;
  padding: 0 15px;
}

@media (min-width: 768px) and (min-height: 576px) and (orientation: landscape) {
  .container, .container-lite, .container-full {
    padding: 0 55px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 537px;
  }
  .container-lite {
    max-width: 460px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 716px;
  }
  .container-lite {
    max-width: 614px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 925px;
  }
  .container-lite {
    max-width: 793px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
  }
  .container-lite {
    max-width: 960px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1306px;
  }
  .container-lite {
    max-width: 1120px;
  }
}

.border {
  border: 1px solid black;
}

.border-dotted {
  border: 1px solid black;
  border-style: dotted;
}

.p-static {
  position: static;
}

.p-relative {
  position: relative;
}

.p-fixed {
  position: fixed;
}

.p-absolute {
  position: absolute;
}

.p-sticky {
  position: -webkit-sticky;
  position: sticky;
}

.p-top {
  top: 0;
}

.p-right {
  right: 0;
}

.p-bottom {
  bottom: 0;
}

.p-left {
  left: 0;
}

@media (min-width: 576px) {
  .p-sm-static {
    position: static;
  }
  .p-sm-relative {
    position: relative;
  }
  .p-sm-fixed {
    position: fixed;
  }
  .p-sm-absolute {
    position: absolute;
  }
  .p-sm-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

@media (min-width: 768px) {
  .p-md-static {
    position: static;
  }
  .p-md-relative {
    position: relative;
  }
  .p-md-fixed {
    position: fixed;
  }
  .p-md-absolute {
    position: absolute;
  }
  .p-md-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

@media (min-width: 992px) {
  .p-lg-static {
    position: static;
  }
  .p-lg-relative {
    position: relative;
  }
  .p-lg-fixed {
    position: fixed;
  }
  .p-lg-absolute {
    position: absolute;
  }
  .p-lg-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

@media (min-width: 1200px) {
  .p-xl-static {
    position: static;
  }
  .p-xl-relative {
    position: relative;
  }
  .p-xl-fixed {
    position: fixed;
  }
  .p-xl-absolute {
    position: absolute;
  }
  .p-xl-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

@media (min-width: 1400px) {
  .p-xxl-static {
    position: static;
  }
  .p-xxl-relative {
    position: relative;
  }
  .p-xxl-fixed {
    position: fixed;
  }
  .p-xxl-absolute {
    position: absolute;
  }
  .p-xxl-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.d-inline {
  display: inline;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-grid {
  display: -ms-grid;
  display: grid;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-none {
  display: none;
}

@media (min-width: 576px) {
  .d-sm-inline {
    display: inline;
  }
  .d-sm-block {
    display: block;
  }
  .d-sm-inline-block {
    display: inline-block;
  }
  .d-sm-grid {
    display: -ms-grid;
    display: grid;
  }
  .d-sm-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .d-sm-none {
    display: none;
  }
}

@media (min-width: 768px) {
  .d-md-inline {
    display: inline;
  }
  .d-md-block {
    display: block;
  }
  .d-md-inline-block {
    display: inline-block;
  }
  .d-md-grid {
    display: -ms-grid;
    display: grid;
  }
  .d-md-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .d-md-none {
    display: none;
  }
}

@media (min-width: 992px) {
  .d-lg-inline {
    display: inline;
  }
  .d-lg-block {
    display: block;
  }
  .d-lg-inline-block {
    display: inline-block;
  }
  .d-lg-grid {
    display: -ms-grid;
    display: grid;
  }
  .d-lg-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .d-lg-none {
    display: none;
  }
}

@media (min-width: 1200px) {
  .d-xl-inline {
    display: inline;
  }
  .d-xl-block {
    display: block;
  }
  .d-xl-inline-block {
    display: inline-block;
  }
  .d-xl-grid {
    display: -ms-grid;
    display: grid;
  }
  .d-xl-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .d-xl-none {
    display: none;
  }
}

@media (min-width: 1400px) {
  .d-xxl-inline {
    display: inline;
  }
  .d-xxl-block {
    display: block;
  }
  .d-xxl-inline-block {
    display: inline-block;
  }
  .d-xxl-grid {
    display: -ms-grid;
    display: grid;
  }
  .d-xxl-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .d-xxl-none {
    display: none;
  }
}

a, p, h1, h2, h3, h4, li {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

@media (min-width: 576px) {
  .text-sm-center {
    text-align: center;
  }
  .text-sm-left {
    text-align: left;
  }
  .text-sm-right {
    text-align: right;
  }
  .text-sm-justify {
    text-align: justify;
  }
}

@media (min-width: 768px) {
  .text-md-center {
    text-align: center;
  }
  .text-md-left {
    text-align: left;
  }
  .text-md-right {
    text-align: right;
  }
  .text-md-justify {
    text-align: justify;
  }
}

@media (min-width: 992px) {
  .text-lg-center {
    text-align: center;
  }
  .text-lg-left {
    text-align: left;
  }
  .text-lg-right {
    text-align: right;
  }
  .text-lg-justify {
    text-align: justify;
  }
}

@media (min-width: 1200px) {
  .text-xl-center {
    text-align: center;
  }
  .text-xl-left {
    text-align: left;
  }
  .text-xl-right {
    text-align: right;
  }
  .text-xl-justify {
    text-align: justify;
  }
}

@media (min-width: 1400px) {
  .text-xxl-center {
    text-align: center;
  }
  .text-xxl-left {
    text-align: left;
  }
  .text-xxl-right {
    text-align: right;
  }
  .text-xxl-justify {
    text-align: justify;
  }
}

.m-0 {
  margin: 0rem;
}

.mt-0 {
  margin-top: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.ml-0 {
  margin-left: 0rem;
}

.mr-0 {
  margin-right: 0rem;
}

.mx-0 {
  margin: 0rem 0rem;
}

.my-0 {
  margin: 0rem 0rem;
}

.m-1 {
  margin: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mx-1 {
  margin: 0rem 1rem;
}

.my-1 {
  margin: 1rem 0rem;
}

.m-2 {
  margin: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mx-2 {
  margin: 0rem 2rem;
}

.my-2 {
  margin: 2rem 0rem;
}

.m-3 {
  margin: 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.ml-3 {
  margin-left: 3rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mx-3 {
  margin: 0rem 3rem;
}

.my-3 {
  margin: 3rem 0rem;
}

.m-4 {
  margin: 4rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.ml-4 {
  margin-left: 4rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mx-4 {
  margin: 0rem 4rem;
}

.my-4 {
  margin: 4rem 0rem;
}

.m-5 {
  margin: 5rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.ml-5 {
  margin-left: 5rem;
}

.mr-5 {
  margin-right: 5rem;
}

.mx-5 {
  margin: 0rem 5rem;
}

.my-5 {
  margin: 5rem 0rem;
}

.mx-auto {
  margin: auto;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

@media (min-width: 576px) {
  .m-sm-0 {
    margin: 0rem;
  }
  .mt-sm-0 {
    margin-top: 0rem;
  }
  .mb-sm-0 {
    margin-bottom: 0rem;
  }
  .ml-sm-0 {
    margin-left: 0rem;
  }
  .mr-sm-0 {
    margin-right: 0rem;
  }
  .mx-sm-0 {
    margin: 0rem 0rem;
  }
  .my-sm-0 {
    margin: 0rem 0rem;
  }
  .m-sm-1 {
    margin: 1rem;
  }
  .mt-sm-1 {
    margin-top: 1rem;
  }
  .mb-sm-1 {
    margin-bottom: 1rem;
  }
  .ml-sm-1 {
    margin-left: 1rem;
  }
  .mr-sm-1 {
    margin-right: 1rem;
  }
  .mx-sm-1 {
    margin: 0rem 1rem;
  }
  .my-sm-1 {
    margin: 1rem 0rem;
  }
  .m-sm-2 {
    margin: 2rem;
  }
  .mt-sm-2 {
    margin-top: 2rem;
  }
  .mb-sm-2 {
    margin-bottom: 2rem;
  }
  .ml-sm-2 {
    margin-left: 2rem;
  }
  .mr-sm-2 {
    margin-right: 2rem;
  }
  .mx-sm-2 {
    margin: 0rem 2rem;
  }
  .my-sm-2 {
    margin: 2rem 0rem;
  }
  .m-sm-3 {
    margin: 3rem;
  }
  .mt-sm-3 {
    margin-top: 3rem;
  }
  .mb-sm-3 {
    margin-bottom: 3rem;
  }
  .ml-sm-3 {
    margin-left: 3rem;
  }
  .mr-sm-3 {
    margin-right: 3rem;
  }
  .mx-sm-3 {
    margin: 0rem 3rem;
  }
  .my-sm-3 {
    margin: 3rem 0rem;
  }
  .m-sm-4 {
    margin: 4rem;
  }
  .mt-sm-4 {
    margin-top: 4rem;
  }
  .mb-sm-4 {
    margin-bottom: 4rem;
  }
  .ml-sm-4 {
    margin-left: 4rem;
  }
  .mr-sm-4 {
    margin-right: 4rem;
  }
  .mx-sm-4 {
    margin: 0rem 4rem;
  }
  .my-sm-4 {
    margin: 4rem 0rem;
  }
  .m-sm-5 {
    margin: 5rem;
  }
  .mt-sm-5 {
    margin-top: 5rem;
  }
  .mb-sm-5 {
    margin-bottom: 5rem;
  }
  .ml-sm-5 {
    margin-left: 5rem;
  }
  .mr-sm-5 {
    margin-right: 5rem;
  }
  .mx-sm-5 {
    margin: 0rem 5rem;
  }
  .my-sm-5 {
    margin: 5rem 0rem;
  }
  .mx-sm-auto {
    margin: auto;
  }
  .my-sm-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
}

@media (min-width: 768px) {
  .m-md-0 {
    margin: 0rem;
  }
  .mt-md-0 {
    margin-top: 0rem;
  }
  .mb-md-0 {
    margin-bottom: 0rem;
  }
  .ml-md-0 {
    margin-left: 0rem;
  }
  .mr-md-0 {
    margin-right: 0rem;
  }
  .mx-md-0 {
    margin: 0rem 0rem;
  }
  .my-md-0 {
    margin: 0rem 0rem;
  }
  .m-md-1 {
    margin: 1rem;
  }
  .mt-md-1 {
    margin-top: 1rem;
  }
  .mb-md-1 {
    margin-bottom: 1rem;
  }
  .ml-md-1 {
    margin-left: 1rem;
  }
  .mr-md-1 {
    margin-right: 1rem;
  }
  .mx-md-1 {
    margin: 0rem 1rem;
  }
  .my-md-1 {
    margin: 1rem 0rem;
  }
  .m-md-2 {
    margin: 2rem;
  }
  .mt-md-2 {
    margin-top: 2rem;
  }
  .mb-md-2 {
    margin-bottom: 2rem;
  }
  .ml-md-2 {
    margin-left: 2rem;
  }
  .mr-md-2 {
    margin-right: 2rem;
  }
  .mx-md-2 {
    margin: 0rem 2rem;
  }
  .my-md-2 {
    margin: 2rem 0rem;
  }
  .m-md-3 {
    margin: 3rem;
  }
  .mt-md-3 {
    margin-top: 3rem;
  }
  .mb-md-3 {
    margin-bottom: 3rem;
  }
  .ml-md-3 {
    margin-left: 3rem;
  }
  .mr-md-3 {
    margin-right: 3rem;
  }
  .mx-md-3 {
    margin: 0rem 3rem;
  }
  .my-md-3 {
    margin: 3rem 0rem;
  }
  .m-md-4 {
    margin: 4rem;
  }
  .mt-md-4 {
    margin-top: 4rem;
  }
  .mb-md-4 {
    margin-bottom: 4rem;
  }
  .ml-md-4 {
    margin-left: 4rem;
  }
  .mr-md-4 {
    margin-right: 4rem;
  }
  .mx-md-4 {
    margin: 0rem 4rem;
  }
  .my-md-4 {
    margin: 4rem 0rem;
  }
  .m-md-5 {
    margin: 5rem;
  }
  .mt-md-5 {
    margin-top: 5rem;
  }
  .mb-md-5 {
    margin-bottom: 5rem;
  }
  .ml-md-5 {
    margin-left: 5rem;
  }
  .mr-md-5 {
    margin-right: 5rem;
  }
  .mx-md-5 {
    margin: 0rem 5rem;
  }
  .my-md-5 {
    margin: 5rem 0rem;
  }
  .mx-md-auto {
    margin: auto;
  }
  .my-md-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
}

@media (min-width: 992px) {
  .m-lg-0 {
    margin: 0rem;
  }
  .mt-lg-0 {
    margin-top: 0rem;
  }
  .mb-lg-0 {
    margin-bottom: 0rem;
  }
  .ml-lg-0 {
    margin-left: 0rem;
  }
  .mr-lg-0 {
    margin-right: 0rem;
  }
  .mx-lg-0 {
    margin: 0rem 0rem;
  }
  .my-lg-0 {
    margin: 0rem 0rem;
  }
  .m-lg-1 {
    margin: 1rem;
  }
  .mt-lg-1 {
    margin-top: 1rem;
  }
  .mb-lg-1 {
    margin-bottom: 1rem;
  }
  .ml-lg-1 {
    margin-left: 1rem;
  }
  .mr-lg-1 {
    margin-right: 1rem;
  }
  .mx-lg-1 {
    margin: 0rem 1rem;
  }
  .my-lg-1 {
    margin: 1rem 0rem;
  }
  .m-lg-2 {
    margin: 2rem;
  }
  .mt-lg-2 {
    margin-top: 2rem;
  }
  .mb-lg-2 {
    margin-bottom: 2rem;
  }
  .ml-lg-2 {
    margin-left: 2rem;
  }
  .mr-lg-2 {
    margin-right: 2rem;
  }
  .mx-lg-2 {
    margin: 0rem 2rem;
  }
  .my-lg-2 {
    margin: 2rem 0rem;
  }
  .m-lg-3 {
    margin: 3rem;
  }
  .mt-lg-3 {
    margin-top: 3rem;
  }
  .mb-lg-3 {
    margin-bottom: 3rem;
  }
  .ml-lg-3 {
    margin-left: 3rem;
  }
  .mr-lg-3 {
    margin-right: 3rem;
  }
  .mx-lg-3 {
    margin: 0rem 3rem;
  }
  .my-lg-3 {
    margin: 3rem 0rem;
  }
  .m-lg-4 {
    margin: 4rem;
  }
  .mt-lg-4 {
    margin-top: 4rem;
  }
  .mb-lg-4 {
    margin-bottom: 4rem;
  }
  .ml-lg-4 {
    margin-left: 4rem;
  }
  .mr-lg-4 {
    margin-right: 4rem;
  }
  .mx-lg-4 {
    margin: 0rem 4rem;
  }
  .my-lg-4 {
    margin: 4rem 0rem;
  }
  .m-lg-5 {
    margin: 5rem;
  }
  .mt-lg-5 {
    margin-top: 5rem;
  }
  .mb-lg-5 {
    margin-bottom: 5rem;
  }
  .ml-lg-5 {
    margin-left: 5rem;
  }
  .mr-lg-5 {
    margin-right: 5rem;
  }
  .mx-lg-5 {
    margin: 0rem 5rem;
  }
  .my-lg-5 {
    margin: 5rem 0rem;
  }
  .mx-lg-auto {
    margin: auto;
  }
  .my-lg-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
}

@media (min-width: 1200px) {
  .m-xl-0 {
    margin: 0rem;
  }
  .mt-xl-0 {
    margin-top: 0rem;
  }
  .mb-xl-0 {
    margin-bottom: 0rem;
  }
  .ml-xl-0 {
    margin-left: 0rem;
  }
  .mr-xl-0 {
    margin-right: 0rem;
  }
  .mx-xl-0 {
    margin: 0rem 0rem;
  }
  .my-xl-0 {
    margin: 0rem 0rem;
  }
  .m-xl-1 {
    margin: 1rem;
  }
  .mt-xl-1 {
    margin-top: 1rem;
  }
  .mb-xl-1 {
    margin-bottom: 1rem;
  }
  .ml-xl-1 {
    margin-left: 1rem;
  }
  .mr-xl-1 {
    margin-right: 1rem;
  }
  .mx-xl-1 {
    margin: 0rem 1rem;
  }
  .my-xl-1 {
    margin: 1rem 0rem;
  }
  .m-xl-2 {
    margin: 2rem;
  }
  .mt-xl-2 {
    margin-top: 2rem;
  }
  .mb-xl-2 {
    margin-bottom: 2rem;
  }
  .ml-xl-2 {
    margin-left: 2rem;
  }
  .mr-xl-2 {
    margin-right: 2rem;
  }
  .mx-xl-2 {
    margin: 0rem 2rem;
  }
  .my-xl-2 {
    margin: 2rem 0rem;
  }
  .m-xl-3 {
    margin: 3rem;
  }
  .mt-xl-3 {
    margin-top: 3rem;
  }
  .mb-xl-3 {
    margin-bottom: 3rem;
  }
  .ml-xl-3 {
    margin-left: 3rem;
  }
  .mr-xl-3 {
    margin-right: 3rem;
  }
  .mx-xl-3 {
    margin: 0rem 3rem;
  }
  .my-xl-3 {
    margin: 3rem 0rem;
  }
  .m-xl-4 {
    margin: 4rem;
  }
  .mt-xl-4 {
    margin-top: 4rem;
  }
  .mb-xl-4 {
    margin-bottom: 4rem;
  }
  .ml-xl-4 {
    margin-left: 4rem;
  }
  .mr-xl-4 {
    margin-right: 4rem;
  }
  .mx-xl-4 {
    margin: 0rem 4rem;
  }
  .my-xl-4 {
    margin: 4rem 0rem;
  }
  .m-xl-5 {
    margin: 5rem;
  }
  .mt-xl-5 {
    margin-top: 5rem;
  }
  .mb-xl-5 {
    margin-bottom: 5rem;
  }
  .ml-xl-5 {
    margin-left: 5rem;
  }
  .mr-xl-5 {
    margin-right: 5rem;
  }
  .mx-xl-5 {
    margin: 0rem 5rem;
  }
  .my-xl-5 {
    margin: 5rem 0rem;
  }
  .mx-xl-auto {
    margin: auto;
  }
  .my-xl-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
}

@media (min-width: 1400px) {
  .m-xxl-0 {
    margin: 0rem;
  }
  .mt-xxl-0 {
    margin-top: 0rem;
  }
  .mb-xxl-0 {
    margin-bottom: 0rem;
  }
  .ml-xxl-0 {
    margin-left: 0rem;
  }
  .mr-xxl-0 {
    margin-right: 0rem;
  }
  .mx-xxl-0 {
    margin: 0rem 0rem;
  }
  .my-xxl-0 {
    margin: 0rem 0rem;
  }
  .m-xxl-1 {
    margin: 1rem;
  }
  .mt-xxl-1 {
    margin-top: 1rem;
  }
  .mb-xxl-1 {
    margin-bottom: 1rem;
  }
  .ml-xxl-1 {
    margin-left: 1rem;
  }
  .mr-xxl-1 {
    margin-right: 1rem;
  }
  .mx-xxl-1 {
    margin: 0rem 1rem;
  }
  .my-xxl-1 {
    margin: 1rem 0rem;
  }
  .m-xxl-2 {
    margin: 2rem;
  }
  .mt-xxl-2 {
    margin-top: 2rem;
  }
  .mb-xxl-2 {
    margin-bottom: 2rem;
  }
  .ml-xxl-2 {
    margin-left: 2rem;
  }
  .mr-xxl-2 {
    margin-right: 2rem;
  }
  .mx-xxl-2 {
    margin: 0rem 2rem;
  }
  .my-xxl-2 {
    margin: 2rem 0rem;
  }
  .m-xxl-3 {
    margin: 3rem;
  }
  .mt-xxl-3 {
    margin-top: 3rem;
  }
  .mb-xxl-3 {
    margin-bottom: 3rem;
  }
  .ml-xxl-3 {
    margin-left: 3rem;
  }
  .mr-xxl-3 {
    margin-right: 3rem;
  }
  .mx-xxl-3 {
    margin: 0rem 3rem;
  }
  .my-xxl-3 {
    margin: 3rem 0rem;
  }
  .m-xxl-4 {
    margin: 4rem;
  }
  .mt-xxl-4 {
    margin-top: 4rem;
  }
  .mb-xxl-4 {
    margin-bottom: 4rem;
  }
  .ml-xxl-4 {
    margin-left: 4rem;
  }
  .mr-xxl-4 {
    margin-right: 4rem;
  }
  .mx-xxl-4 {
    margin: 0rem 4rem;
  }
  .my-xxl-4 {
    margin: 4rem 0rem;
  }
  .m-xxl-5 {
    margin: 5rem;
  }
  .mt-xxl-5 {
    margin-top: 5rem;
  }
  .mb-xxl-5 {
    margin-bottom: 5rem;
  }
  .ml-xxl-5 {
    margin-left: 5rem;
  }
  .mr-xxl-5 {
    margin-right: 5rem;
  }
  .mx-xxl-5 {
    margin: 0rem 5rem;
  }
  .my-xxl-5 {
    margin: 5rem 0rem;
  }
  .mx-xxl-auto {
    margin: auto;
  }
  .my-xxl-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
}

.p-0 {
  padding: 0rem;
}

.pt-0 {
  padding-top: 0rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.pl-0 {
  padding-left: 0rem;
}

.pr-0 {
  padding-right: 0rem;
}

.px-0 {
  padding: 0rem 0rem;
}

.py-0 {
  padding: 0rem 0rem;
}

.p-1 {
  padding: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.px-1 {
  padding: 0rem 1rem;
}

.py-1 {
  padding: 1rem 0rem;
}

.p-2 {
  padding: 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pr-2 {
  padding-right: 2rem;
}

.px-2 {
  padding: 0rem 2rem;
}

.py-2 {
  padding: 2rem 0rem;
}

.p-3 {
  padding: 3rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pr-3 {
  padding-right: 3rem;
}

.px-3 {
  padding: 0rem 3rem;
}

.py-3 {
  padding: 3rem 0rem;
}

.p-4 {
  padding: 4rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pl-4 {
  padding-left: 4rem;
}

.pr-4 {
  padding-right: 4rem;
}

.px-4 {
  padding: 0rem 4rem;
}

.py-4 {
  padding: 4rem 0rem;
}

.p-5 {
  padding: 5rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pl-5 {
  padding-left: 5rem;
}

.pr-5 {
  padding-right: 5rem;
}

.px-5 {
  padding: 0rem 5rem;
}

.py-5 {
  padding: 5rem 0rem;
}

.px-auto {
  padding: auto;
}

.py-auto {
  padding-top: auto !important;
  padding-bottom: auto !important;
}

@media (min-width: 576px) {
  .p-sm-0 {
    padding: 0rem;
  }
  .pt-sm-0 {
    padding-top: 0rem;
  }
  .pb-sm-0 {
    padding-bottom: 0rem;
  }
  .pl-sm-0 {
    padding-left: 0rem;
  }
  .pr-sm-0 {
    padding-right: 0rem;
  }
  .px-sm-0 {
    padding: 0rem 0rem;
  }
  .py-sm-0 {
    padding: 0rem 0rem;
  }
  .p-sm-1 {
    padding: 1rem;
  }
  .pt-sm-1 {
    padding-top: 1rem;
  }
  .pb-sm-1 {
    padding-bottom: 1rem;
  }
  .pl-sm-1 {
    padding-left: 1rem;
  }
  .pr-sm-1 {
    padding-right: 1rem;
  }
  .px-sm-1 {
    padding: 0rem 1rem;
  }
  .py-sm-1 {
    padding: 1rem 0rem;
  }
  .p-sm-2 {
    padding: 2rem;
  }
  .pt-sm-2 {
    padding-top: 2rem;
  }
  .pb-sm-2 {
    padding-bottom: 2rem;
  }
  .pl-sm-2 {
    padding-left: 2rem;
  }
  .pr-sm-2 {
    padding-right: 2rem;
  }
  .px-sm-2 {
    padding: 0rem 2rem;
  }
  .py-sm-2 {
    padding: 2rem 0rem;
  }
  .p-sm-3 {
    padding: 3rem;
  }
  .pt-sm-3 {
    padding-top: 3rem;
  }
  .pb-sm-3 {
    padding-bottom: 3rem;
  }
  .pl-sm-3 {
    padding-left: 3rem;
  }
  .pr-sm-3 {
    padding-right: 3rem;
  }
  .px-sm-3 {
    padding: 0rem 3rem;
  }
  .py-sm-3 {
    padding: 3rem 0rem;
  }
  .p-sm-4 {
    padding: 4rem;
  }
  .pt-sm-4 {
    padding-top: 4rem;
  }
  .pb-sm-4 {
    padding-bottom: 4rem;
  }
  .pl-sm-4 {
    padding-left: 4rem;
  }
  .pr-sm-4 {
    padding-right: 4rem;
  }
  .px-sm-4 {
    padding: 0rem 4rem;
  }
  .py-sm-4 {
    padding: 4rem 0rem;
  }
  .p-sm-5 {
    padding: 5rem;
  }
  .pt-sm-5 {
    padding-top: 5rem;
  }
  .pb-sm-5 {
    padding-bottom: 5rem;
  }
  .pl-sm-5 {
    padding-left: 5rem;
  }
  .pr-sm-5 {
    padding-right: 5rem;
  }
  .px-sm-5 {
    padding: 0rem 5rem;
  }
  .py-sm-5 {
    padding: 5rem 0rem;
  }
  .px-sm-auto {
    padding: auto;
  }
  .py-sm-auto {
    padding-top: auto !important;
    padding-bottom: auto !important;
  }
}

@media (min-width: 768px) {
  .p-md-0 {
    padding: 0rem;
  }
  .pt-md-0 {
    padding-top: 0rem;
  }
  .pb-md-0 {
    padding-bottom: 0rem;
  }
  .pl-md-0 {
    padding-left: 0rem;
  }
  .pr-md-0 {
    padding-right: 0rem;
  }
  .px-md-0 {
    padding: 0rem 0rem;
  }
  .py-md-0 {
    padding: 0rem 0rem;
  }
  .p-md-1 {
    padding: 1rem;
  }
  .pt-md-1 {
    padding-top: 1rem;
  }
  .pb-md-1 {
    padding-bottom: 1rem;
  }
  .pl-md-1 {
    padding-left: 1rem;
  }
  .pr-md-1 {
    padding-right: 1rem;
  }
  .px-md-1 {
    padding: 0rem 1rem;
  }
  .py-md-1 {
    padding: 1rem 0rem;
  }
  .p-md-2 {
    padding: 2rem;
  }
  .pt-md-2 {
    padding-top: 2rem;
  }
  .pb-md-2 {
    padding-bottom: 2rem;
  }
  .pl-md-2 {
    padding-left: 2rem;
  }
  .pr-md-2 {
    padding-right: 2rem;
  }
  .px-md-2 {
    padding: 0rem 2rem;
  }
  .py-md-2 {
    padding: 2rem 0rem;
  }
  .p-md-3 {
    padding: 3rem;
  }
  .pt-md-3 {
    padding-top: 3rem;
  }
  .pb-md-3 {
    padding-bottom: 3rem;
  }
  .pl-md-3 {
    padding-left: 3rem;
  }
  .pr-md-3 {
    padding-right: 3rem;
  }
  .px-md-3 {
    padding: 0rem 3rem;
  }
  .py-md-3 {
    padding: 3rem 0rem;
  }
  .p-md-4 {
    padding: 4rem;
  }
  .pt-md-4 {
    padding-top: 4rem;
  }
  .pb-md-4 {
    padding-bottom: 4rem;
  }
  .pl-md-4 {
    padding-left: 4rem;
  }
  .pr-md-4 {
    padding-right: 4rem;
  }
  .px-md-4 {
    padding: 0rem 4rem;
  }
  .py-md-4 {
    padding: 4rem 0rem;
  }
  .p-md-5 {
    padding: 5rem;
  }
  .pt-md-5 {
    padding-top: 5rem;
  }
  .pb-md-5 {
    padding-bottom: 5rem;
  }
  .pl-md-5 {
    padding-left: 5rem;
  }
  .pr-md-5 {
    padding-right: 5rem;
  }
  .px-md-5 {
    padding: 0rem 5rem;
  }
  .py-md-5 {
    padding: 5rem 0rem;
  }
  .px-md-auto {
    padding: auto;
  }
  .py-md-auto {
    padding-top: auto !important;
    padding-bottom: auto !important;
  }
}

@media (min-width: 992px) {
  .p-lg-0 {
    padding: 0rem;
  }
  .pt-lg-0 {
    padding-top: 0rem;
  }
  .pb-lg-0 {
    padding-bottom: 0rem;
  }
  .pl-lg-0 {
    padding-left: 0rem;
  }
  .pr-lg-0 {
    padding-right: 0rem;
  }
  .px-lg-0 {
    padding: 0rem 0rem;
  }
  .py-lg-0 {
    padding: 0rem 0rem;
  }
  .p-lg-1 {
    padding: 1rem;
  }
  .pt-lg-1 {
    padding-top: 1rem;
  }
  .pb-lg-1 {
    padding-bottom: 1rem;
  }
  .pl-lg-1 {
    padding-left: 1rem;
  }
  .pr-lg-1 {
    padding-right: 1rem;
  }
  .px-lg-1 {
    padding: 0rem 1rem;
  }
  .py-lg-1 {
    padding: 1rem 0rem;
  }
  .p-lg-2 {
    padding: 2rem;
  }
  .pt-lg-2 {
    padding-top: 2rem;
  }
  .pb-lg-2 {
    padding-bottom: 2rem;
  }
  .pl-lg-2 {
    padding-left: 2rem;
  }
  .pr-lg-2 {
    padding-right: 2rem;
  }
  .px-lg-2 {
    padding: 0rem 2rem;
  }
  .py-lg-2 {
    padding: 2rem 0rem;
  }
  .p-lg-3 {
    padding: 3rem;
  }
  .pt-lg-3 {
    padding-top: 3rem;
  }
  .pb-lg-3 {
    padding-bottom: 3rem;
  }
  .pl-lg-3 {
    padding-left: 3rem;
  }
  .pr-lg-3 {
    padding-right: 3rem;
  }
  .px-lg-3 {
    padding: 0rem 3rem;
  }
  .py-lg-3 {
    padding: 3rem 0rem;
  }
  .p-lg-4 {
    padding: 4rem;
  }
  .pt-lg-4 {
    padding-top: 4rem;
  }
  .pb-lg-4 {
    padding-bottom: 4rem;
  }
  .pl-lg-4 {
    padding-left: 4rem;
  }
  .pr-lg-4 {
    padding-right: 4rem;
  }
  .px-lg-4 {
    padding: 0rem 4rem;
  }
  .py-lg-4 {
    padding: 4rem 0rem;
  }
  .p-lg-5 {
    padding: 5rem;
  }
  .pt-lg-5 {
    padding-top: 5rem;
  }
  .pb-lg-5 {
    padding-bottom: 5rem;
  }
  .pl-lg-5 {
    padding-left: 5rem;
  }
  .pr-lg-5 {
    padding-right: 5rem;
  }
  .px-lg-5 {
    padding: 0rem 5rem;
  }
  .py-lg-5 {
    padding: 5rem 0rem;
  }
  .px-lg-auto {
    padding: auto;
  }
  .py-lg-auto {
    padding-top: auto !important;
    padding-bottom: auto !important;
  }
}

@media (min-width: 1200px) {
  .p-xl-0 {
    padding: 0rem;
  }
  .pt-xl-0 {
    padding-top: 0rem;
  }
  .pb-xl-0 {
    padding-bottom: 0rem;
  }
  .pl-xl-0 {
    padding-left: 0rem;
  }
  .pr-xl-0 {
    padding-right: 0rem;
  }
  .px-xl-0 {
    padding: 0rem 0rem;
  }
  .py-xl-0 {
    padding: 0rem 0rem;
  }
  .p-xl-1 {
    padding: 1rem;
  }
  .pt-xl-1 {
    padding-top: 1rem;
  }
  .pb-xl-1 {
    padding-bottom: 1rem;
  }
  .pl-xl-1 {
    padding-left: 1rem;
  }
  .pr-xl-1 {
    padding-right: 1rem;
  }
  .px-xl-1 {
    padding: 0rem 1rem;
  }
  .py-xl-1 {
    padding: 1rem 0rem;
  }
  .p-xl-2 {
    padding: 2rem;
  }
  .pt-xl-2 {
    padding-top: 2rem;
  }
  .pb-xl-2 {
    padding-bottom: 2rem;
  }
  .pl-xl-2 {
    padding-left: 2rem;
  }
  .pr-xl-2 {
    padding-right: 2rem;
  }
  .px-xl-2 {
    padding: 0rem 2rem;
  }
  .py-xl-2 {
    padding: 2rem 0rem;
  }
  .p-xl-3 {
    padding: 3rem;
  }
  .pt-xl-3 {
    padding-top: 3rem;
  }
  .pb-xl-3 {
    padding-bottom: 3rem;
  }
  .pl-xl-3 {
    padding-left: 3rem;
  }
  .pr-xl-3 {
    padding-right: 3rem;
  }
  .px-xl-3 {
    padding: 0rem 3rem;
  }
  .py-xl-3 {
    padding: 3rem 0rem;
  }
  .p-xl-4 {
    padding: 4rem;
  }
  .pt-xl-4 {
    padding-top: 4rem;
  }
  .pb-xl-4 {
    padding-bottom: 4rem;
  }
  .pl-xl-4 {
    padding-left: 4rem;
  }
  .pr-xl-4 {
    padding-right: 4rem;
  }
  .px-xl-4 {
    padding: 0rem 4rem;
  }
  .py-xl-4 {
    padding: 4rem 0rem;
  }
  .p-xl-5 {
    padding: 5rem;
  }
  .pt-xl-5 {
    padding-top: 5rem;
  }
  .pb-xl-5 {
    padding-bottom: 5rem;
  }
  .pl-xl-5 {
    padding-left: 5rem;
  }
  .pr-xl-5 {
    padding-right: 5rem;
  }
  .px-xl-5 {
    padding: 0rem 5rem;
  }
  .py-xl-5 {
    padding: 5rem 0rem;
  }
  .px-xl-auto {
    padding: auto;
  }
  .py-xl-auto {
    padding-top: auto !important;
    padding-bottom: auto !important;
  }
}

@media (min-width: 1400px) {
  .p-xxl-0 {
    padding: 0rem;
  }
  .pt-xxl-0 {
    padding-top: 0rem;
  }
  .pb-xxl-0 {
    padding-bottom: 0rem;
  }
  .pl-xxl-0 {
    padding-left: 0rem;
  }
  .pr-xxl-0 {
    padding-right: 0rem;
  }
  .px-xxl-0 {
    padding: 0rem 0rem;
  }
  .py-xxl-0 {
    padding: 0rem 0rem;
  }
  .p-xxl-1 {
    padding: 1rem;
  }
  .pt-xxl-1 {
    padding-top: 1rem;
  }
  .pb-xxl-1 {
    padding-bottom: 1rem;
  }
  .pl-xxl-1 {
    padding-left: 1rem;
  }
  .pr-xxl-1 {
    padding-right: 1rem;
  }
  .px-xxl-1 {
    padding: 0rem 1rem;
  }
  .py-xxl-1 {
    padding: 1rem 0rem;
  }
  .p-xxl-2 {
    padding: 2rem;
  }
  .pt-xxl-2 {
    padding-top: 2rem;
  }
  .pb-xxl-2 {
    padding-bottom: 2rem;
  }
  .pl-xxl-2 {
    padding-left: 2rem;
  }
  .pr-xxl-2 {
    padding-right: 2rem;
  }
  .px-xxl-2 {
    padding: 0rem 2rem;
  }
  .py-xxl-2 {
    padding: 2rem 0rem;
  }
  .p-xxl-3 {
    padding: 3rem;
  }
  .pt-xxl-3 {
    padding-top: 3rem;
  }
  .pb-xxl-3 {
    padding-bottom: 3rem;
  }
  .pl-xxl-3 {
    padding-left: 3rem;
  }
  .pr-xxl-3 {
    padding-right: 3rem;
  }
  .px-xxl-3 {
    padding: 0rem 3rem;
  }
  .py-xxl-3 {
    padding: 3rem 0rem;
  }
  .p-xxl-4 {
    padding: 4rem;
  }
  .pt-xxl-4 {
    padding-top: 4rem;
  }
  .pb-xxl-4 {
    padding-bottom: 4rem;
  }
  .pl-xxl-4 {
    padding-left: 4rem;
  }
  .pr-xxl-4 {
    padding-right: 4rem;
  }
  .px-xxl-4 {
    padding: 0rem 4rem;
  }
  .py-xxl-4 {
    padding: 4rem 0rem;
  }
  .p-xxl-5 {
    padding: 5rem;
  }
  .pt-xxl-5 {
    padding-top: 5rem;
  }
  .pb-xxl-5 {
    padding-bottom: 5rem;
  }
  .pl-xxl-5 {
    padding-left: 5rem;
  }
  .pr-xxl-5 {
    padding-right: 5rem;
  }
  .px-xxl-5 {
    padding: 0rem 5rem;
  }
  .py-xxl-5 {
    padding: 5rem 0rem;
  }
  .px-xxl-auto {
    padding: auto;
  }
  .py-xxl-auto {
    padding-top: auto !important;
    padding-bottom: auto !important;
  }
}

.z-100 {
  z-index: 100;
}

.z-200 {
  z-index: 200;
}

.z-300 {
  z-index: 300;
}

.z-400 {
  z-index: 400;
}

.z-500 {
  z-index: 500;
}

.z-600 {
  z-index: 600;
}

.z-700 {
  z-index: 700;
}

.z-800 {
  z-index: 800;
}

.z-900 {
  z-index: 900;
}

.z-1000 {
  z-index: 1000;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 15px;
}

.col-1 {
  max-width: calc(8.33333% - 32px);
}

.offset-1 {
  margin-left: 8.33333%;
}

.col-2 {
  max-width: calc(16.66667% - 32px);
}

.offset-2 {
  margin-left: 16.66667%;
}

.col-3 {
  max-width: calc(25% - 32px);
}

.offset-3 {
  margin-left: 25%;
}

.col-4 {
  max-width: calc(33.33333% - 32px);
}

.offset-4 {
  margin-left: 33.33333%;
}

.col-5 {
  max-width: calc(41.66667% - 32px);
}

.offset-5 {
  margin-left: 41.66667%;
}

.col-6 {
  max-width: calc(50% - 32px);
}

.offset-6 {
  margin-left: 50%;
}

.col-7 {
  max-width: calc(58.33333% - 32px);
}

.offset-7 {
  margin-left: 58.33333%;
}

.col-8 {
  max-width: calc(66.66667% - 32px);
}

.offset-8 {
  margin-left: 66.66667%;
}

.col-9 {
  max-width: calc(75% - 32px);
}

.offset-9 {
  margin-left: 75%;
}

.col-10 {
  max-width: calc(83.33333% - 32px);
}

.offset-10 {
  margin-left: 83.33333%;
}

.col-11 {
  max-width: calc(91.66667% - 32px);
}

.offset-11 {
  margin-left: 91.66667%;
}

.col-12 {
  max-width: calc(100% - 32px);
}

.offset-12 {
  margin-left: 100%;
}

@media (min-width: 576px) {
  .col-sm-1 {
    max-width: calc(8.33333% - 32px);
  }
  .offset-sm-1 {
    margin-left: 8.33333%;
  }
  .col-sm-2 {
    max-width: calc(16.66667% - 32px);
  }
  .offset-sm-2 {
    margin-left: 16.66667%;
  }
  .col-sm-3 {
    max-width: calc(25% - 32px);
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .col-sm-4 {
    max-width: calc(33.33333% - 32px);
  }
  .offset-sm-4 {
    margin-left: 33.33333%;
  }
  .col-sm-5 {
    max-width: calc(41.66667% - 32px);
  }
  .offset-sm-5 {
    margin-left: 41.66667%;
  }
  .col-sm-6 {
    max-width: calc(50% - 32px);
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .col-sm-7 {
    max-width: calc(58.33333% - 32px);
  }
  .offset-sm-7 {
    margin-left: 58.33333%;
  }
  .col-sm-8 {
    max-width: calc(66.66667% - 32px);
  }
  .offset-sm-8 {
    margin-left: 66.66667%;
  }
  .col-sm-9 {
    max-width: calc(75% - 32px);
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .col-sm-10 {
    max-width: calc(83.33333% - 32px);
  }
  .offset-sm-10 {
    margin-left: 83.33333%;
  }
  .col-sm-11 {
    max-width: calc(91.66667% - 32px);
  }
  .offset-sm-11 {
    margin-left: 91.66667%;
  }
  .col-sm-12 {
    max-width: calc(100% - 32px);
  }
  .offset-sm-12 {
    margin-left: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    max-width: calc(8.33333% - 32px);
  }
  .offset-md-1 {
    margin-left: 8.33333%;
  }
  .col-md-2 {
    max-width: calc(16.66667% - 32px);
  }
  .offset-md-2 {
    margin-left: 16.66667%;
  }
  .col-md-3 {
    max-width: calc(25% - 32px);
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .col-md-4 {
    max-width: calc(33.33333% - 32px);
  }
  .offset-md-4 {
    margin-left: 33.33333%;
  }
  .col-md-5 {
    max-width: calc(41.66667% - 32px);
  }
  .offset-md-5 {
    margin-left: 41.66667%;
  }
  .col-md-6 {
    max-width: calc(50% - 32px);
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .col-md-7 {
    max-width: calc(58.33333% - 32px);
  }
  .offset-md-7 {
    margin-left: 58.33333%;
  }
  .col-md-8 {
    max-width: calc(66.66667% - 32px);
  }
  .offset-md-8 {
    margin-left: 66.66667%;
  }
  .col-md-9 {
    max-width: calc(75% - 32px);
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .col-md-10 {
    max-width: calc(83.33333% - 32px);
  }
  .offset-md-10 {
    margin-left: 83.33333%;
  }
  .col-md-11 {
    max-width: calc(91.66667% - 32px);
  }
  .offset-md-11 {
    margin-left: 91.66667%;
  }
  .col-md-12 {
    max-width: calc(100% - 32px);
  }
  .offset-md-12 {
    margin-left: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    max-width: calc(8.33333% - 32px);
  }
  .offset-lg-1 {
    margin-left: 8.33333%;
  }
  .col-lg-2 {
    max-width: calc(16.66667% - 32px);
  }
  .offset-lg-2 {
    margin-left: 16.66667%;
  }
  .col-lg-3 {
    max-width: calc(25% - 32px);
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .col-lg-4 {
    max-width: calc(33.33333% - 32px);
  }
  .offset-lg-4 {
    margin-left: 33.33333%;
  }
  .col-lg-5 {
    max-width: calc(41.66667% - 32px);
  }
  .offset-lg-5 {
    margin-left: 41.66667%;
  }
  .col-lg-6 {
    max-width: calc(50% - 32px);
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .col-lg-7 {
    max-width: calc(58.33333% - 32px);
  }
  .offset-lg-7 {
    margin-left: 58.33333%;
  }
  .col-lg-8 {
    max-width: calc(66.66667% - 32px);
  }
  .offset-lg-8 {
    margin-left: 66.66667%;
  }
  .col-lg-9 {
    max-width: calc(75% - 32px);
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .col-lg-10 {
    max-width: calc(83.33333% - 32px);
  }
  .offset-lg-10 {
    margin-left: 83.33333%;
  }
  .col-lg-11 {
    max-width: calc(91.66667% - 32px);
  }
  .offset-lg-11 {
    margin-left: 91.66667%;
  }
  .col-lg-12 {
    max-width: calc(100% - 32px);
  }
  .offset-lg-12 {
    margin-left: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    max-width: calc(8.33333% - 32px);
  }
  .offset-xl-1 {
    margin-left: 8.33333%;
  }
  .col-xl-2 {
    max-width: calc(16.66667% - 32px);
  }
  .offset-xl-2 {
    margin-left: 16.66667%;
  }
  .col-xl-3 {
    max-width: calc(25% - 32px);
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .col-xl-4 {
    max-width: calc(33.33333% - 32px);
  }
  .offset-xl-4 {
    margin-left: 33.33333%;
  }
  .col-xl-5 {
    max-width: calc(41.66667% - 32px);
  }
  .offset-xl-5 {
    margin-left: 41.66667%;
  }
  .col-xl-6 {
    max-width: calc(50% - 32px);
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .col-xl-7 {
    max-width: calc(58.33333% - 32px);
  }
  .offset-xl-7 {
    margin-left: 58.33333%;
  }
  .col-xl-8 {
    max-width: calc(66.66667% - 32px);
  }
  .offset-xl-8 {
    margin-left: 66.66667%;
  }
  .col-xl-9 {
    max-width: calc(75% - 32px);
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .col-xl-10 {
    max-width: calc(83.33333% - 32px);
  }
  .offset-xl-10 {
    margin-left: 83.33333%;
  }
  .col-xl-11 {
    max-width: calc(91.66667% - 32px);
  }
  .offset-xl-11 {
    margin-left: 91.66667%;
  }
  .col-xl-12 {
    max-width: calc(100% - 32px);
  }
  .offset-xl-12 {
    margin-left: 100%;
  }
}

@media (min-width: 1400px) {
  .col-xxl-1 {
    max-width: calc(8.33333% - 32px);
  }
  .offset-xxl-1 {
    margin-left: 8.33333%;
  }
  .col-xxl-2 {
    max-width: calc(16.66667% - 32px);
  }
  .offset-xxl-2 {
    margin-left: 16.66667%;
  }
  .col-xxl-3 {
    max-width: calc(25% - 32px);
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .col-xxl-4 {
    max-width: calc(33.33333% - 32px);
  }
  .offset-xxl-4 {
    margin-left: 33.33333%;
  }
  .col-xxl-5 {
    max-width: calc(41.66667% - 32px);
  }
  .offset-xxl-5 {
    margin-left: 41.66667%;
  }
  .col-xxl-6 {
    max-width: calc(50% - 32px);
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .col-xxl-7 {
    max-width: calc(58.33333% - 32px);
  }
  .offset-xxl-7 {
    margin-left: 58.33333%;
  }
  .col-xxl-8 {
    max-width: calc(66.66667% - 32px);
  }
  .offset-xxl-8 {
    margin-left: 66.66667%;
  }
  .col-xxl-9 {
    max-width: calc(75% - 32px);
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .col-xxl-10 {
    max-width: calc(83.33333% - 32px);
  }
  .offset-xxl-10 {
    margin-left: 83.33333%;
  }
  .col-xxl-11 {
    max-width: calc(91.66667% - 32px);
  }
  .offset-xxl-11 {
    margin-left: 91.66667%;
  }
  .col-xxl-12 {
    max-width: calc(100% - 32px);
  }
  .offset-xxl-12 {
    margin-left: 100%;
  }
}
/*# sourceMappingURL=litebox.css.map */