$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$maxCol: 12;
$maxSizing: 5;
$maxLayer: 10;
$fontSize: 16px;
$breakpoints: ('sm': $sm, 'md': $md, 'lg': $lg, 'xl': $xl, 'xxl': $xxl);

@function strip($number){
  @return $number / ($number * 0 + 1)
}
