.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4rem;
}

.m-5 {
  margin: 5rem;
}

.m-6 {
  margin: 6rem;
}

.m-7 {
  margin: 7rem;
}

.m-8 {
  margin: 8rem;
}

.m-9 {
  margin: 9rem;
}

.m-10 {
  margin: 10rem;
}

@media (min-width: 576px) {
  .m-sm-sm-1 {
    margin: 1rem;
  }
  .m-sm-sm-2 {
    margin: 2rem;
  }
  .m-sm-sm-3 {
    margin: 3rem;
  }
  .m-sm-sm-4 {
    margin: 4rem;
  }
  .m-sm-sm-5 {
    margin: 5rem;
  }
  .m-sm-sm-6 {
    margin: 6rem;
  }
  .m-sm-sm-7 {
    margin: 7rem;
  }
  .m-sm-sm-8 {
    margin: 8rem;
  }
  .m-sm-sm-9 {
    margin: 9rem;
  }
  .m-sm-sm-10 {
    margin: 10rem;
  }
}

@media (min-width: 768px) {
  .m-md-md-1 {
    margin: 1rem;
  }
  .m-md-md-2 {
    margin: 2rem;
  }
  .m-md-md-3 {
    margin: 3rem;
  }
  .m-md-md-4 {
    margin: 4rem;
  }
  .m-md-md-5 {
    margin: 5rem;
  }
  .m-md-md-6 {
    margin: 6rem;
  }
  .m-md-md-7 {
    margin: 7rem;
  }
  .m-md-md-8 {
    margin: 8rem;
  }
  .m-md-md-9 {
    margin: 9rem;
  }
  .m-md-md-10 {
    margin: 10rem;
  }
}

@media (min-width: 992px) {
  .m-lg-lg-1 {
    margin: 1rem;
  }
  .m-lg-lg-2 {
    margin: 2rem;
  }
  .m-lg-lg-3 {
    margin: 3rem;
  }
  .m-lg-lg-4 {
    margin: 4rem;
  }
  .m-lg-lg-5 {
    margin: 5rem;
  }
  .m-lg-lg-6 {
    margin: 6rem;
  }
  .m-lg-lg-7 {
    margin: 7rem;
  }
  .m-lg-lg-8 {
    margin: 8rem;
  }
  .m-lg-lg-9 {
    margin: 9rem;
  }
  .m-lg-lg-10 {
    margin: 10rem;
  }
}

@media (min-width: 1200px) {
  .m-xl-xl-1 {
    margin: 1rem;
  }
  .m-xl-xl-2 {
    margin: 2rem;
  }
  .m-xl-xl-3 {
    margin: 3rem;
  }
  .m-xl-xl-4 {
    margin: 4rem;
  }
  .m-xl-xl-5 {
    margin: 5rem;
  }
  .m-xl-xl-6 {
    margin: 6rem;
  }
  .m-xl-xl-7 {
    margin: 7rem;
  }
  .m-xl-xl-8 {
    margin: 8rem;
  }
  .m-xl-xl-9 {
    margin: 9rem;
  }
  .m-xl-xl-10 {
    margin: 10rem;
  }
}

@media (min-width: 1400px) {
  .m-xxl-xxl-1 {
    margin: 1rem;
  }
  .m-xxl-xxl-2 {
    margin: 2rem;
  }
  .m-xxl-xxl-3 {
    margin: 3rem;
  }
  .m-xxl-xxl-4 {
    margin: 4rem;
  }
  .m-xxl-xxl-5 {
    margin: 5rem;
  }
  .m-xxl-xxl-6 {
    margin: 6rem;
  }
  .m-xxl-xxl-7 {
    margin: 7rem;
  }
  .m-xxl-xxl-8 {
    margin: 8rem;
  }
  .m-xxl-xxl-9 {
    margin: 9rem;
  }
  .m-xxl-xxl-10 {
    margin: 10rem;
  }
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mt-9 {
  margin-top: 9rem;
}

.mt-10 {
  margin-top: 10rem;
}

@media (min-width: 576px) {
  .mt-sm-1 {
    margin-top: 1rem;
  }
  .mt-sm-2 {
    margin-top: 2rem;
  }
  .mt-sm-3 {
    margin-top: 3rem;
  }
  .mt-sm-4 {
    margin-top: 4rem;
  }
  .mt-sm-5 {
    margin-top: 5rem;
  }
  .mt-sm-6 {
    margin-top: 6rem;
  }
  .mt-sm-7 {
    margin-top: 7rem;
  }
  .mt-sm-8 {
    margin-top: 8rem;
  }
  .mt-sm-9 {
    margin-top: 9rem;
  }
  .mt-sm-10 {
    margin-top: 10rem;
  }
}

@media (min-width: 768px) {
  .mt-md-1 {
    margin-top: 1rem;
  }
  .mt-md-2 {
    margin-top: 2rem;
  }
  .mt-md-3 {
    margin-top: 3rem;
  }
  .mt-md-4 {
    margin-top: 4rem;
  }
  .mt-md-5 {
    margin-top: 5rem;
  }
  .mt-md-6 {
    margin-top: 6rem;
  }
  .mt-md-7 {
    margin-top: 7rem;
  }
  .mt-md-8 {
    margin-top: 8rem;
  }
  .mt-md-9 {
    margin-top: 9rem;
  }
  .mt-md-10 {
    margin-top: 10rem;
  }
}

@media (min-width: 992px) {
  .mt-lg-1 {
    margin-top: 1rem;
  }
  .mt-lg-2 {
    margin-top: 2rem;
  }
  .mt-lg-3 {
    margin-top: 3rem;
  }
  .mt-lg-4 {
    margin-top: 4rem;
  }
  .mt-lg-5 {
    margin-top: 5rem;
  }
  .mt-lg-6 {
    margin-top: 6rem;
  }
  .mt-lg-7 {
    margin-top: 7rem;
  }
  .mt-lg-8 {
    margin-top: 8rem;
  }
  .mt-lg-9 {
    margin-top: 9rem;
  }
  .mt-lg-10 {
    margin-top: 10rem;
  }
}

@media (min-width: 1200px) {
  .mt-xl-1 {
    margin-top: 1rem;
  }
  .mt-xl-2 {
    margin-top: 2rem;
  }
  .mt-xl-3 {
    margin-top: 3rem;
  }
  .mt-xl-4 {
    margin-top: 4rem;
  }
  .mt-xl-5 {
    margin-top: 5rem;
  }
  .mt-xl-6 {
    margin-top: 6rem;
  }
  .mt-xl-7 {
    margin-top: 7rem;
  }
  .mt-xl-8 {
    margin-top: 8rem;
  }
  .mt-xl-9 {
    margin-top: 9rem;
  }
  .mt-xl-10 {
    margin-top: 10rem;
  }
}

@media (min-width: 1400px) {
  .mt-xxl-1 {
    margin-top: 1rem;
  }
  .mt-xxl-2 {
    margin-top: 2rem;
  }
  .mt-xxl-3 {
    margin-top: 3rem;
  }
  .mt-xxl-4 {
    margin-top: 4rem;
  }
  .mt-xxl-5 {
    margin-top: 5rem;
  }
  .mt-xxl-6 {
    margin-top: 6rem;
  }
  .mt-xxl-7 {
    margin-top: 7rem;
  }
  .mt-xxl-8 {
    margin-top: 8rem;
  }
  .mt-xxl-9 {
    margin-top: 9rem;
  }
  .mt-xxl-10 {
    margin-top: 10rem;
  }
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.mb-9 {
  margin-bottom: 9rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

@media (min-width: 576px) {
  .mb-sm-1 {
    margin-bottom: 1rem;
  }
  .mb-sm-2 {
    margin-bottom: 2rem;
  }
  .mb-sm-3 {
    margin-bottom: 3rem;
  }
  .mb-sm-4 {
    margin-bottom: 4rem;
  }
  .mb-sm-5 {
    margin-bottom: 5rem;
  }
  .mb-sm-6 {
    margin-bottom: 6rem;
  }
  .mb-sm-7 {
    margin-bottom: 7rem;
  }
  .mb-sm-8 {
    margin-bottom: 8rem;
  }
  .mb-sm-9 {
    margin-bottom: 9rem;
  }
  .mb-sm-10 {
    margin-bottom: 10rem;
  }
}

@media (min-width: 768px) {
  .mb-md-1 {
    margin-bottom: 1rem;
  }
  .mb-md-2 {
    margin-bottom: 2rem;
  }
  .mb-md-3 {
    margin-bottom: 3rem;
  }
  .mb-md-4 {
    margin-bottom: 4rem;
  }
  .mb-md-5 {
    margin-bottom: 5rem;
  }
  .mb-md-6 {
    margin-bottom: 6rem;
  }
  .mb-md-7 {
    margin-bottom: 7rem;
  }
  .mb-md-8 {
    margin-bottom: 8rem;
  }
  .mb-md-9 {
    margin-bottom: 9rem;
  }
  .mb-md-10 {
    margin-bottom: 10rem;
  }
}

@media (min-width: 992px) {
  .mb-lg-1 {
    margin-bottom: 1rem;
  }
  .mb-lg-2 {
    margin-bottom: 2rem;
  }
  .mb-lg-3 {
    margin-bottom: 3rem;
  }
  .mb-lg-4 {
    margin-bottom: 4rem;
  }
  .mb-lg-5 {
    margin-bottom: 5rem;
  }
  .mb-lg-6 {
    margin-bottom: 6rem;
  }
  .mb-lg-7 {
    margin-bottom: 7rem;
  }
  .mb-lg-8 {
    margin-bottom: 8rem;
  }
  .mb-lg-9 {
    margin-bottom: 9rem;
  }
  .mb-lg-10 {
    margin-bottom: 10rem;
  }
}

@media (min-width: 1200px) {
  .mb-xl-1 {
    margin-bottom: 1rem;
  }
  .mb-xl-2 {
    margin-bottom: 2rem;
  }
  .mb-xl-3 {
    margin-bottom: 3rem;
  }
  .mb-xl-4 {
    margin-bottom: 4rem;
  }
  .mb-xl-5 {
    margin-bottom: 5rem;
  }
  .mb-xl-6 {
    margin-bottom: 6rem;
  }
  .mb-xl-7 {
    margin-bottom: 7rem;
  }
  .mb-xl-8 {
    margin-bottom: 8rem;
  }
  .mb-xl-9 {
    margin-bottom: 9rem;
  }
  .mb-xl-10 {
    margin-bottom: 10rem;
  }
}

@media (min-width: 1400px) {
  .mb-xxl-1 {
    margin-bottom: 1rem;
  }
  .mb-xxl-2 {
    margin-bottom: 2rem;
  }
  .mb-xxl-3 {
    margin-bottom: 3rem;
  }
  .mb-xxl-4 {
    margin-bottom: 4rem;
  }
  .mb-xxl-5 {
    margin-bottom: 5rem;
  }
  .mb-xxl-6 {
    margin-bottom: 6rem;
  }
  .mb-xxl-7 {
    margin-bottom: 7rem;
  }
  .mb-xxl-8 {
    margin-bottom: 8rem;
  }
  .mb-xxl-9 {
    margin-bottom: 9rem;
  }
  .mb-xxl-10 {
    margin-bottom: 10rem;
  }
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4rem;
}

.ml-5 {
  margin-left: 5rem;
}

.ml-6 {
  margin-left: 6rem;
}

.ml-7 {
  margin-left: 7rem;
}

.ml-8 {
  margin-left: 8rem;
}

.ml-9 {
  margin-left: 9rem;
}

.ml-10 {
  margin-left: 10rem;
}

@media (min-width: 576px) {
  .ml-sm-1 {
    margin-left: 1rem;
  }
  .ml-sm-2 {
    margin-left: 2rem;
  }
  .ml-sm-3 {
    margin-left: 3rem;
  }
  .ml-sm-4 {
    margin-left: 4rem;
  }
  .ml-sm-5 {
    margin-left: 5rem;
  }
  .ml-sm-6 {
    margin-left: 6rem;
  }
  .ml-sm-7 {
    margin-left: 7rem;
  }
  .ml-sm-8 {
    margin-left: 8rem;
  }
  .ml-sm-9 {
    margin-left: 9rem;
  }
  .ml-sm-10 {
    margin-left: 10rem;
  }
}

@media (min-width: 768px) {
  .ml-md-1 {
    margin-left: 1rem;
  }
  .ml-md-2 {
    margin-left: 2rem;
  }
  .ml-md-3 {
    margin-left: 3rem;
  }
  .ml-md-4 {
    margin-left: 4rem;
  }
  .ml-md-5 {
    margin-left: 5rem;
  }
  .ml-md-6 {
    margin-left: 6rem;
  }
  .ml-md-7 {
    margin-left: 7rem;
  }
  .ml-md-8 {
    margin-left: 8rem;
  }
  .ml-md-9 {
    margin-left: 9rem;
  }
  .ml-md-10 {
    margin-left: 10rem;
  }
}

@media (min-width: 992px) {
  .ml-lg-1 {
    margin-left: 1rem;
  }
  .ml-lg-2 {
    margin-left: 2rem;
  }
  .ml-lg-3 {
    margin-left: 3rem;
  }
  .ml-lg-4 {
    margin-left: 4rem;
  }
  .ml-lg-5 {
    margin-left: 5rem;
  }
  .ml-lg-6 {
    margin-left: 6rem;
  }
  .ml-lg-7 {
    margin-left: 7rem;
  }
  .ml-lg-8 {
    margin-left: 8rem;
  }
  .ml-lg-9 {
    margin-left: 9rem;
  }
  .ml-lg-10 {
    margin-left: 10rem;
  }
}

@media (min-width: 1200px) {
  .ml-xl-1 {
    margin-left: 1rem;
  }
  .ml-xl-2 {
    margin-left: 2rem;
  }
  .ml-xl-3 {
    margin-left: 3rem;
  }
  .ml-xl-4 {
    margin-left: 4rem;
  }
  .ml-xl-5 {
    margin-left: 5rem;
  }
  .ml-xl-6 {
    margin-left: 6rem;
  }
  .ml-xl-7 {
    margin-left: 7rem;
  }
  .ml-xl-8 {
    margin-left: 8rem;
  }
  .ml-xl-9 {
    margin-left: 9rem;
  }
  .ml-xl-10 {
    margin-left: 10rem;
  }
}

@media (min-width: 1400px) {
  .ml-xxl-1 {
    margin-left: 1rem;
  }
  .ml-xxl-2 {
    margin-left: 2rem;
  }
  .ml-xxl-3 {
    margin-left: 3rem;
  }
  .ml-xxl-4 {
    margin-left: 4rem;
  }
  .ml-xxl-5 {
    margin-left: 5rem;
  }
  .ml-xxl-6 {
    margin-left: 6rem;
  }
  .ml-xxl-7 {
    margin-left: 7rem;
  }
  .ml-xxl-8 {
    margin-left: 8rem;
  }
  .ml-xxl-9 {
    margin-left: 9rem;
  }
  .ml-xxl-10 {
    margin-left: 10rem;
  }
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mr-5 {
  margin-right: 5rem;
}

.mr-6 {
  margin-right: 6rem;
}

.mr-7 {
  margin-right: 7rem;
}

.mr-8 {
  margin-right: 8rem;
}

.mr-9 {
  margin-right: 9rem;
}

.mr-10 {
  margin-right: 10rem;
}

@media (min-width: 576px) {
  .mr-sm-1 {
    margin-right: 1rem;
  }
  .mr-sm-2 {
    margin-right: 2rem;
  }
  .mr-sm-3 {
    margin-right: 3rem;
  }
  .mr-sm-4 {
    margin-right: 4rem;
  }
  .mr-sm-5 {
    margin-right: 5rem;
  }
  .mr-sm-6 {
    margin-right: 6rem;
  }
  .mr-sm-7 {
    margin-right: 7rem;
  }
  .mr-sm-8 {
    margin-right: 8rem;
  }
  .mr-sm-9 {
    margin-right: 9rem;
  }
  .mr-sm-10 {
    margin-right: 10rem;
  }
}

@media (min-width: 768px) {
  .mr-md-1 {
    margin-right: 1rem;
  }
  .mr-md-2 {
    margin-right: 2rem;
  }
  .mr-md-3 {
    margin-right: 3rem;
  }
  .mr-md-4 {
    margin-right: 4rem;
  }
  .mr-md-5 {
    margin-right: 5rem;
  }
  .mr-md-6 {
    margin-right: 6rem;
  }
  .mr-md-7 {
    margin-right: 7rem;
  }
  .mr-md-8 {
    margin-right: 8rem;
  }
  .mr-md-9 {
    margin-right: 9rem;
  }
  .mr-md-10 {
    margin-right: 10rem;
  }
}

@media (min-width: 992px) {
  .mr-lg-1 {
    margin-right: 1rem;
  }
  .mr-lg-2 {
    margin-right: 2rem;
  }
  .mr-lg-3 {
    margin-right: 3rem;
  }
  .mr-lg-4 {
    margin-right: 4rem;
  }
  .mr-lg-5 {
    margin-right: 5rem;
  }
  .mr-lg-6 {
    margin-right: 6rem;
  }
  .mr-lg-7 {
    margin-right: 7rem;
  }
  .mr-lg-8 {
    margin-right: 8rem;
  }
  .mr-lg-9 {
    margin-right: 9rem;
  }
  .mr-lg-10 {
    margin-right: 10rem;
  }
}

@media (min-width: 1200px) {
  .mr-xl-1 {
    margin-right: 1rem;
  }
  .mr-xl-2 {
    margin-right: 2rem;
  }
  .mr-xl-3 {
    margin-right: 3rem;
  }
  .mr-xl-4 {
    margin-right: 4rem;
  }
  .mr-xl-5 {
    margin-right: 5rem;
  }
  .mr-xl-6 {
    margin-right: 6rem;
  }
  .mr-xl-7 {
    margin-right: 7rem;
  }
  .mr-xl-8 {
    margin-right: 8rem;
  }
  .mr-xl-9 {
    margin-right: 9rem;
  }
  .mr-xl-10 {
    margin-right: 10rem;
  }
}

@media (min-width: 1400px) {
  .mr-xxl-1 {
    margin-right: 1rem;
  }
  .mr-xxl-2 {
    margin-right: 2rem;
  }
  .mr-xxl-3 {
    margin-right: 3rem;
  }
  .mr-xxl-4 {
    margin-right: 4rem;
  }
  .mr-xxl-5 {
    margin-right: 5rem;
  }
  .mr-xxl-6 {
    margin-right: 6rem;
  }
  .mr-xxl-7 {
    margin-right: 7rem;
  }
  .mr-xxl-8 {
    margin-right: 8rem;
  }
  .mr-xxl-9 {
    margin-right: 9rem;
  }
  .mr-xxl-10 {
    margin-right: 10rem;
  }
}

.mx-1 {
  margin: 0rem 1rem;
}

.mx-2 {
  margin: 0rem 2rem;
}

.mx-3 {
  margin: 0rem 3rem;
}

.mx-4 {
  margin: 0rem 4rem;
}

.mx-5 {
  margin: 0rem 5rem;
}

.mx-6 {
  margin: 0rem 6rem;
}

.mx-7 {
  margin: 0rem 7rem;
}

.mx-8 {
  margin: 0rem 8rem;
}

.mx-9 {
  margin: 0rem 9rem;
}

.mx-10 {
  margin: 0rem 10rem;
}

@media (min-width: 576px) {
  .mx-sm-1 {
    margin: 0rem 1rem;
  }
  .mx-sm-2 {
    margin: 0rem 2rem;
  }
  .mx-sm-3 {
    margin: 0rem 3rem;
  }
  .mx-sm-4 {
    margin: 0rem 4rem;
  }
  .mx-sm-5 {
    margin: 0rem 5rem;
  }
  .mx-sm-6 {
    margin: 0rem 6rem;
  }
  .mx-sm-7 {
    margin: 0rem 7rem;
  }
  .mx-sm-8 {
    margin: 0rem 8rem;
  }
  .mx-sm-9 {
    margin: 0rem 9rem;
  }
  .mx-sm-10 {
    margin: 0rem 10rem;
  }
}

@media (min-width: 768px) {
  .mx-md-1 {
    margin: 0rem 1rem;
  }
  .mx-md-2 {
    margin: 0rem 2rem;
  }
  .mx-md-3 {
    margin: 0rem 3rem;
  }
  .mx-md-4 {
    margin: 0rem 4rem;
  }
  .mx-md-5 {
    margin: 0rem 5rem;
  }
  .mx-md-6 {
    margin: 0rem 6rem;
  }
  .mx-md-7 {
    margin: 0rem 7rem;
  }
  .mx-md-8 {
    margin: 0rem 8rem;
  }
  .mx-md-9 {
    margin: 0rem 9rem;
  }
  .mx-md-10 {
    margin: 0rem 10rem;
  }
}

@media (min-width: 992px) {
  .mx-lg-1 {
    margin: 0rem 1rem;
  }
  .mx-lg-2 {
    margin: 0rem 2rem;
  }
  .mx-lg-3 {
    margin: 0rem 3rem;
  }
  .mx-lg-4 {
    margin: 0rem 4rem;
  }
  .mx-lg-5 {
    margin: 0rem 5rem;
  }
  .mx-lg-6 {
    margin: 0rem 6rem;
  }
  .mx-lg-7 {
    margin: 0rem 7rem;
  }
  .mx-lg-8 {
    margin: 0rem 8rem;
  }
  .mx-lg-9 {
    margin: 0rem 9rem;
  }
  .mx-lg-10 {
    margin: 0rem 10rem;
  }
}

@media (min-width: 1200px) {
  .mx-xl-1 {
    margin: 0rem 1rem;
  }
  .mx-xl-2 {
    margin: 0rem 2rem;
  }
  .mx-xl-3 {
    margin: 0rem 3rem;
  }
  .mx-xl-4 {
    margin: 0rem 4rem;
  }
  .mx-xl-5 {
    margin: 0rem 5rem;
  }
  .mx-xl-6 {
    margin: 0rem 6rem;
  }
  .mx-xl-7 {
    margin: 0rem 7rem;
  }
  .mx-xl-8 {
    margin: 0rem 8rem;
  }
  .mx-xl-9 {
    margin: 0rem 9rem;
  }
  .mx-xl-10 {
    margin: 0rem 10rem;
  }
}

@media (min-width: 1400px) {
  .mx-xxl-1 {
    margin: 0rem 1rem;
  }
  .mx-xxl-2 {
    margin: 0rem 2rem;
  }
  .mx-xxl-3 {
    margin: 0rem 3rem;
  }
  .mx-xxl-4 {
    margin: 0rem 4rem;
  }
  .mx-xxl-5 {
    margin: 0rem 5rem;
  }
  .mx-xxl-6 {
    margin: 0rem 6rem;
  }
  .mx-xxl-7 {
    margin: 0rem 7rem;
  }
  .mx-xxl-8 {
    margin: 0rem 8rem;
  }
  .mx-xxl-9 {
    margin: 0rem 9rem;
  }
  .mx-xxl-10 {
    margin: 0rem 10rem;
  }
}

.my-1 {
  margin: 1rem 0rem;
}

.my-2 {
  margin: 2rem 0rem;
}

.my-3 {
  margin: 3rem 0rem;
}

.my-4 {
  margin: 4rem 0rem;
}

.my-5 {
  margin: 5rem 0rem;
}

.my-6 {
  margin: 6rem 0rem;
}

.my-7 {
  margin: 7rem 0rem;
}

.my-8 {
  margin: 8rem 0rem;
}

.my-9 {
  margin: 9rem 0rem;
}

.my-10 {
  margin: 10rem 0rem;
}

@media (min-width: 576px) {
  .my-sm-1 {
    margin: 1rem 0rem;
  }
  .my-sm-2 {
    margin: 2rem 0rem;
  }
  .my-sm-3 {
    margin: 3rem 0rem;
  }
  .my-sm-4 {
    margin: 4rem 0rem;
  }
  .my-sm-5 {
    margin: 5rem 0rem;
  }
  .my-sm-6 {
    margin: 6rem 0rem;
  }
  .my-sm-7 {
    margin: 7rem 0rem;
  }
  .my-sm-8 {
    margin: 8rem 0rem;
  }
  .my-sm-9 {
    margin: 9rem 0rem;
  }
  .my-sm-10 {
    margin: 10rem 0rem;
  }
}

@media (min-width: 768px) {
  .my-md-1 {
    margin: 1rem 0rem;
  }
  .my-md-2 {
    margin: 2rem 0rem;
  }
  .my-md-3 {
    margin: 3rem 0rem;
  }
  .my-md-4 {
    margin: 4rem 0rem;
  }
  .my-md-5 {
    margin: 5rem 0rem;
  }
  .my-md-6 {
    margin: 6rem 0rem;
  }
  .my-md-7 {
    margin: 7rem 0rem;
  }
  .my-md-8 {
    margin: 8rem 0rem;
  }
  .my-md-9 {
    margin: 9rem 0rem;
  }
  .my-md-10 {
    margin: 10rem 0rem;
  }
}

@media (min-width: 992px) {
  .my-lg-1 {
    margin: 1rem 0rem;
  }
  .my-lg-2 {
    margin: 2rem 0rem;
  }
  .my-lg-3 {
    margin: 3rem 0rem;
  }
  .my-lg-4 {
    margin: 4rem 0rem;
  }
  .my-lg-5 {
    margin: 5rem 0rem;
  }
  .my-lg-6 {
    margin: 6rem 0rem;
  }
  .my-lg-7 {
    margin: 7rem 0rem;
  }
  .my-lg-8 {
    margin: 8rem 0rem;
  }
  .my-lg-9 {
    margin: 9rem 0rem;
  }
  .my-lg-10 {
    margin: 10rem 0rem;
  }
}

@media (min-width: 1200px) {
  .my-xl-1 {
    margin: 1rem 0rem;
  }
  .my-xl-2 {
    margin: 2rem 0rem;
  }
  .my-xl-3 {
    margin: 3rem 0rem;
  }
  .my-xl-4 {
    margin: 4rem 0rem;
  }
  .my-xl-5 {
    margin: 5rem 0rem;
  }
  .my-xl-6 {
    margin: 6rem 0rem;
  }
  .my-xl-7 {
    margin: 7rem 0rem;
  }
  .my-xl-8 {
    margin: 8rem 0rem;
  }
  .my-xl-9 {
    margin: 9rem 0rem;
  }
  .my-xl-10 {
    margin: 10rem 0rem;
  }
}

@media (min-width: 1400px) {
  .my-xxl-1 {
    margin: 1rem 0rem;
  }
  .my-xxl-2 {
    margin: 2rem 0rem;
  }
  .my-xxl-3 {
    margin: 3rem 0rem;
  }
  .my-xxl-4 {
    margin: 4rem 0rem;
  }
  .my-xxl-5 {
    margin: 5rem 0rem;
  }
  .my-xxl-6 {
    margin: 6rem 0rem;
  }
  .my-xxl-7 {
    margin: 7rem 0rem;
  }
  .my-xxl-8 {
    margin: 8rem 0rem;
  }
  .my-xxl-9 {
    margin: 9rem 0rem;
  }
  .my-xxl-10 {
    margin: 10rem 0rem;
  }
}

.mx-auto {
  margin: auto;
}

@media (min-width: 576px) {
  .mx-sm-auto {
    margin: auto;
  }
}

@media (min-width: 768px) {
  .mx-md-auto {
    margin: auto;
  }
}

@media (min-width: 992px) {
  .mx-lg-auto {
    margin: auto;
  }
}

@media (min-width: 1200px) {
  .mx-xl-auto {
    margin: auto;
  }
}

@media (min-width: 1400px) {
  .mx-xxl-auto {
    margin: auto;
  }
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

@media (min-width: 576px) {
  .my-sm-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
}

@media (min-width: 768px) {
  .my-md-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
}

@media (min-width: 992px) {
  .my-lg-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
}

@media (min-width: 1200px) {
  .my-xl-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
}

@media (min-width: 1400px) {
  .my-xxl-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
}
/*# sourceMappingURL=margin.css.map */