@import "breakpoint";

html{
    scroll-behavior: smooth;
}


.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.fixed{
    position: fixed;
}

.sticky{
    position: sticky;
}

.block{
    display: block;
}

.inline-block{
    display: inline-block;
}

.inline{
    display: inline;
}

.grid{
    display: grid;
}

.none{
    display: none;
}

.flex{
    display: flex;
}

@import "typography";
@import "margin";
@import "padding";
@import "grid";
@import "layer";

.container, .container-full{
    width: 100%;
    margin: auto;
    padding: 0 15px;
    @media(min-width: $md) and (min-height: $sm) and (orientation: landscape) {    //iphone x and height>lg
        padding: 0 55px;
    }
}

.container{
    @media(min-width: $sm){
        max-width: 540px;
    }
    @media(min-width: $md){
        max-width: 720px;
    }
    @media(min-width: $lg){
        max-width: 960px;
    }
    @media(min-width: $xl){
        max-width: 1140px;
    }
    @media(min-width: $xxl){
        max-width: 1320px;
    }
}

.border{
    border: 1px solid black;
}