/**
 * Shiki Syntax Highlighting Styles
 */

/* Override Shiki code block colors for dark mode. */
html.dark .astro-code,
html.dark .astro-code span {
    color: var(--shiki-dark) !important;
}
/* @media (prefers-color-scheme: dark) {
    .astro-code,
    .astro-code span {
        color: var(--shiki-dark) !important;
    }
} */

/* Code wrapper styles */
.code-block {
    @apply relative border border-black dark:border-white overflow-hidden;
}

/* Code title styles */
.code-header{
    @apply flex px-4 pt-4;
}
.code-header > p {
    @apply inset-ring inset-ring-neutral-800 dark:inset-ring-neutral-200 px-2 font-mono text-neutral-800 dark:text-neutral-200 text-sm sm:text-base;
}

/* Copy button styles */
.code-header > button {
    @apply ml-auto cursor-pointer;
}

.code-header > button > svg {
    @apply stroke-black dark:stroke-white w-5 h-5;
}

/* Shiki pre styles */
.astro-code {
    @apply overflow-x-auto break-all whitespace-pre-wrap;
}

.astro-code code {
    @apply block py-4 text-sm;
}

/* Line styles */
.astro-code .line {
    @apply inline-block w-full;
}
.astro-code .line:not(.diff):not(.remove):not(.add):not(.error):not(.warning):not(.highlighted) {
    @apply px-4;
}

/* transformerNotationDiff remove styles */
.astro-code .line.diff.remove {
    @apply opacity-50 bg-red-500/15 pr-4 pl-3.5 border-l-2 border-red-500;
}

/* transformerNotationDiff add styles */
.astro-code .line.diff.add {
    @apply bg-green-500/15 pr-4 pl-3.5 border-l-2 border-green-500;
}

/* transformerNotationHighlight highlight styles */
.astro-code .line.highlighted {
    @apply bg-neutral-950/5 dark:bg-white/5 pr-4 pl-3.5 border-l-2 border-neutral-950 dark:border-white;
}

/* transformerNotationWordHighlight highlighted word styles */
.astro-code .line .highlighted-word {
    @apply bg-neutral-950/5 dark:bg-white/5 border border-neutral-200 dark:border-neutral-800 p-0.5 rounded;
}

/* transformerNotationFocus focus styles */
.astro-code.has-focused .line:not(.focused) {
    @apply opacity-50 blur-xs;
}

/* On hover, show all lines clearly */
:hover.astro-code.has-focused .line:not(.focused) {
    @apply opacity-100 blur-none;
}

/* transformerNotationErrorLevel error styles */
.astro-code .line.error {
    @apply bg-red-500/20 pr-4 pl-3.5 border-l-2 border-red-500;
}

/* transformerNotationErrorLevel warning styles */
.astro-code .line.warning {
    @apply bg-orange-500/25 pr-4 pl-3.5 border-l-2 border-orange-500;
}