<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Prevent FOUC -->
        <script is:inline>
            // Toggle theme.
            // localStorage.theme = 'dark';
            document.documentElement.classList.toggle('dark', localStorage.theme === 'dark' || (!localStorage.theme && window.matchMedia('(prefers-color-scheme: dark)').matches) || (localStorage.theme === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches));
        </script>
        <!-- END Prevent FOUC -->

        <!-- Metadata -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#ffffff">
        <meta name="robots" content="noindex">
        <!-- END Metadata -->
        <!-- Style -->
        <style>
            @import 'tailwindcss';

            /* Use manual selector insted of media query for dark theme. */
            @custom-variant dark (&:where(.dark, .dark *));

            /* Fonts */
            @font-face {
                font-family: 'Space Grotesk';
                src: url('/fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf') format('truetype');
                font-weight: 400;
                font-style: normal;
                font-display: swap;
            }

            @font-face {
                font-family: 'Montserrat';
                src: url('/fonts/Montserrat/Montserrat-BoldItalic.ttf') format('truetype');
                font-weight: 700;
                font-style: italic;
                font-display: swap;
            }

            body {
                font-family: 'Space Grotesk', sans-serif;
            }

            .text-header {
                font-family: 'Montserrat', sans-serif;
                paint-order: stroke fill;
                -webkit-text-stroke: 2px black;   
            }

            .dark .text-header {
                -webkit-text-stroke: 2px white; 
            }
        </style>
        <!-- END Style -->

        <title>Page Not Found</title>
    </head>
    <body>
        <main class="flex justify-center items-center bg-white dark:bg-neutral-950 min-h-dvh antialiased">
            <div class="space-y-4 text-center">
                <p class="font-bold text-header text-white dark:text-black text-6xl sm:text-7xl lg:text-8xl uppercase">404</p>
                <p class="text-neutral-800 dark:text-neutral-200 text-sm sm:text-base">Page Not Found</p>
            </div>
        </main>
    </body>
</html>