---
import WebLayout from '../layouts/partials/WebLayout.astro';
import H1 from '../components/partials/H1.astro';
import Text from '../components/partials/Text.astro';
import LinkNavbarActive from '../components/partials/LinkNavbarActive.astro';
---

<WebLayout title="Home" page="Home">
	<section class="relative space-y-4 mt-32">
		<H1>Khafizi Noh</H1>
		<Text>I am a web artisan based in Cyberjaya, Malaysia, specializing in web development and cloud computing with a intricate knowledge for creating efficient, scalable, and reliable software solutions. I have been at the forefront of digital services since 2016 and currently work at TM Tech.</Text>
		<div class="relative">
			<div class="flex gap-4">
				<LinkNavbarActive href="https://github.com/mkfizi">Github</LinkNavbarActive>
				<LinkNavbarActive href="https://www.linkedin.com/in/mkfizi/">LinkedIn</LinkNavbarActive>
				<LinkNavbarActive href="https://twitter.com/mkfizi">X</LinkNavbarActive>
			</div>
			<img src="/img/mkfizi.jpg" class="mt-8 sm:ml-auto w-full sm:w-1/2 h-auto shrink-0" alt="Khafizi Noh profile picture">
		</div>
	</section>
</WebLayout>

	</section>
</WebLayout>